<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/6.2.0/css/all.min.css"/>
    <script src="/webjars/font-awesome/6.2.0/js/all.min.js"></script>


    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="nav-link" th:href="@{'/auction'}"> <i class="fas fa-home mx-1"></i>  </a>
            <a class="nav-link" th:href="@{'/auction'}"> <i class="fas fa-user mx-1"></i>  </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto topnav">

                    <li class="nav-item" active>
                        <a class="nav-link" th:href="@{'/movies'}">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/actors'}">Actors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/genres'}">Genres</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</head>
<body>

<div class="container " style="margin-top: 50px">
    <div class="row align-self-center">
        <div class="col-md-6 col-md-offset-3">
            <div class="pannel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading" >
                        <h1 class="panel-title">Actors</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row" th:each="actor: ${actors}">
                            <div class="col-md-4">
                                <p th:text="${actor.FirstName} + ' ' + ${actor.LastName}"></p>
                            </div>
                            <div class="col-md-2">
                                <p th:text="${actor.country.name}"></p>
                            </div>
                            <div class="col-md-2">
                                <a href="#" th:href="@{'/actors/' + ${actor.Id}}">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>